@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%)
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Dark_cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;

    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.card-container{

    margin: 170px auto 50px;
    width: 330px;
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.bubbles {
    background: url(./images/bg-pattern-card.svg);
    height: 140px;
}
.photo{
    position: absolute;
    top: 87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    height: 96px;
}
.personal-data-container{
    background-color: white;
    height: 150px;
    padding: 75px;
    text-align: center;
}
.name{
    font-weight: 700;
    color: var(--Very_dark_desaturated_blue);
}
.age, .city{
    color: var(--Dark_gray);
}
.city{
    margin-top: 10px;
    font-size: 0.8em;
}
.stats-container{
    background-color: white;
    border-top: 1px solid var(--Dark_gray);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
}
.statistics{
    text-align: center;
}
.quantity{
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--Very_dark_desaturated_blue);
}

.units{
    font-size: 0.6em;
    color: var(--Dark_gray);
    letter-spacing: 2px;
}

/*----------------Footer--------------------*/

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

/*----------------media 1080px--------------------*/
@media screen and (min-with:1080px){
    .card-container{
        width: 350px;
    }
}